.menuElements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.menuElements img{
width: 250px;
margin: auto;
margin-top: 30px;
margin-bottom: 30px;
}
