.container{
 width: 1440px;
 margin: auto;
}

.product__title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #4A4EF5;
    margin-top: 40px;
}

.product__description{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
    width: 80%;
}

.product__price{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 80px;
    color: grey
}

.product__image{
    display: flex;
    justify-content:space-between;
}

.product__image img{
 width: 30%;
 border-radius: 10px;
}

.product__button{
    width: 200px;
    height: 50px;
    background:  grey;;
    border: none;
    color: white;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin-top: 80px;
    cursor: pointer;
    margin-bottom: 40px;
}

.product__button:hover{
    background: #4A4EF5;
}

/*Laptop*/

@media screen and (max-width: 1440px) {

    .container{
        width: 85%;
       }
       
       .product__title{
           font-size: 1.5rem;
       }
       
       .product__description{
           font-size: 0.7rem;
           line-height: 20px;
           width: 100%;
       }
       
       .product__price{
           font-size: 1.2rem;
           margin-bottom: 2rem;
       }

       .product__image img{
        width: 27%;
        border-radius: 10px;
       }
       
       .product__button{
           margin-top: 3rem;
           width: 150px;
           height: 40px;
       }
       
}

@media screen and (max-width: 1000px) {

    .container{
        width: 85%;
       }
       
       .product__title{
           font-size: 1.5rem;
       }
       
       .product__description{
           font-size: 0.7rem;
           line-height: 20px;
           width: 100%;
       }
       
       .product__price{
           font-size: 1.2rem;
           margin-bottom: 2rem;
       }

       .product__image img{
        width: 27%;
        border-radius: 10px;
       }
       
       .product__button{
           margin-top: 3rem;
           width: 150px;
           height: 40px;
       }
       
}

/*Tablet*/

@media screen and (max-width: 768px) {

    .container{
        width: 85%;
       }
       
       .product__title{
           font-size: 1.5rem;
       }
       
       .product__description{
           font-size: 0.7rem;
           line-height: 20px;
           width: 100%;
       }
       
       .product__price{
           font-size: 1.2rem;
           margin-bottom: 2rem;
       }

       .product__image img{
        width: 27%;
        border-radius: 10px;
       }
       
       .product__button{
           margin-top: 3rem;
           width: 150px;
           height: 40px;
       }
       
}

/*cellphone*/

@media screen and (max-width: 468px) {

    .container{
        width: 85%;
       }
       
       .product__title{
           font-size: 1.5rem;
       }
       
       .product__description{
           font-size: 0.7rem;
           line-height: 20px;
           width: 100%;
       }
       
       .product__price{
           font-size: 1.2rem;
           margin-bottom: 2rem;
       }

       .product__image{
        flex-direction: column;
        align-items: center;
       }

       .product__image img{
        width: 100%;
        border-radius: 10px;
        margin-bottom: 2rem;
       }
       
       .product__button{
           margin-top: 3rem;
           width: 150px;
           height: 40px;
       }
       
}