.container{
 width: 1440px;
 margin: auto;
 
}

.product__title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #4A4EF5;
    margin-top: 40px;
}

.product__description{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.product__price{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 80px;
    color: grey
}

.product__image{
    display: flex;
    justify-content:space-between;
}

.product__image img{
 width: 30%;
 border-radius: 10px;
}

.product__button{
    width: 200px;
    height: 50px;
    background:  grey;;
    border: none;
    color: white;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin-top: 80px;
    cursor: pointer;
    margin-bottom: 40px;
}

.product__button:hover{
    background: #4A4EF5;
}